<h3>Edit information for <%= @pet.name %></h3>


<form id="form" method="post" action="/pets/<%= @pet.id %>">
<label for="treatment-notes">Treatment Notes</label>
<input type="text" id="treatment-notes" name="treatment_notes" value="<%= @pet.treatment_notes %>">


<label for="vet-select">Change vet:</label>
<select id="vet-select" name="vet_id">
    <% @vets.each do |vet| %>
        <option value="<%= vet.id %>"><%= vet.first_name %> <%= vet.last_name %></option>
    <% end %>
</select>

<input type="submit" value="Submit changes">
</form>