<h2 class="section-header">Add new pet</h2>
<h4>Or register a new customer&nbsp;<strong><a class="here-link" href="/customers/new">here</a></strong></h4>

<div class="new-form">
<form method="post" action="/pets">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type" required>

    <label for="date_of_birth">DOB:</label>
    <input type="text" id="dob" name="date_of_birth" required>

    <label for="customer_id">Owner:</label>
    <select id="customer-select" name="customer_id" required>
        <option selected disabled>Select Owner</option>
            <% for customer in @customers %>
                <option value="<%= customer.id %>"> <%= customer.first_name %> <%= customer.last_name %></option>
            <% end %>
    </select>

    
    <label for="vet_id">Vet:</label>
    <select id="vet-select" name="vet_id" required>
        <option selected disabled>Select Vet</option>
            <% @vets.each do |vet| %>
        <option value="<%= vet.id %>"> <%= vet.first_name %> <%= vet.last_name %></option>
            <% end %>
    </select>
    <br>

    <label for="treatment_notes">Treatment notes:</label>
    <textarea cols="13" rows="2"id="treatment-notes" name="treatment_notes"></textarea>
    <br>

    <input class="btns" type="submit" value="Add">
</form>
</div>