<div class="single-item">
<h3><%= @pet.name %> </h3>
<p>Type: <%= @pet.type%> </p>
<p>Born: <%= @pet.date_of_birth %> </p>
<p>Treatment notes: <%= @pet.treatment_notes %> </p>
<p>Owner:<a href="/customers/<%= @pet.customer_id %>"> <%= @pet.customer.first_name %> <%= @pet.customer.last_name %></a> </p>
<p>Vet assigned to: <%= @pet.vet.first_name %> <%= @pet.vet.last_name %> </p>
</div>


<p><a href="/pets/<%= @pet.id %>/edit">Edit</a></p>
<form method="post" action="/pets/<%= @pet.id %>/delete">
<input type="submit" value="Delete Pet">
</form>

<p id="back"><a href="/pets">Back to pets</a></p>
