<h2 class="section-header">Pets</h2>
<h2 class="section-header">Details for: <%= @pet.name%></h2>

<div class="show-details-wrapper">
<div class="show-details">
    <table id="details-table">
        <tr>
            <td>Name:</td>
            <td><strong><%= @pet.name %></strong></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><%= @pet.type %></td>
        </tr>
        <tr>
            <td>DOB:</td>
            <td><%= @pet.date_of_birth %></td>
        </tr>
        <tr>
            <td>Owner:</td>
            <td><a href="/customers/<%= @pet.customer_id %>"> <%= @pet.customer.first_name %> <%= @pet.customer.last_name %></a></td>
        </tr>
        <tr>
            <td>Vet assigned:</td>
            <td><a href="/vets/<%= @pet.vet_id %>"> <%= @pet.vet.first_name %> <%= @pet.vet.last_name %></a></td>
        </tr>
        <tr>
            <td>Treatment Notes:</td>
            <td><%= @pet.treatment_notes %></td>
    </table>


</div>  



<div class="btns-wrapper">
    <a href="/pets/<%= @pet.id %>/edit"><button class="btns">Edit details</button></a>

    <form method="post" action="/pets/<%= @pet.id %>/delete">
        <input class="btns" id="del" type="submit" value="Delete">
    </form><br>

    <a href="/pets"><button class="btns">Back to pets</button></a>
</div>
</div>