<div class="single-item">
<h3><%= @vet.first_name %> <%= @vet.last_name %> </h3>
<p>Contact: <%= @vet.phone_number %></p>
<p>Assigned pets:</p>
<% @pets.each do |pet| %>
<p><%= pet.name if pet.vet_id == @vet.id %> </p>
<% end %>


<p><a href="/vets/<%= @vet.id %>/edit">Edit details</a></p>
<form method="post" action="/vets/<%= @vet.id %>/delete">
<input id="del" type="submit" value="Delete Vet">
</form><br>

<p id="back"><a href="/vets">Back to vets</a></p>
</div>
