<h2 class="section-header">Details for: <%= @vet.first_name%> <%= @vet.last_name%></h2>



<div class="show-details">
    <table id="details-table">
        <tr>
            <td>Name:</td>
            <td><b><%= @vet.first_name %> <%= @vet.last_name %></td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td><%= @vet.phone_number %></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td>
                <%= @vet.e_mail %>
            </td>
        </tr>
    </table>
</div>  


<button class="btns"><a href="/vets/<%= @vet.id %>/edit">Edit details</a></button>
<form method="post" action="/vets/<%= @vet.id %>/delete">
    <input class="btns" type="submit" value="Delete Vet">
</form><br>

<button class="btns"><a href="/vets">Back to vets</a></p>
</div>
