<div class="single-item">
<h3><%= @vet.first_name %> <%= @vet.last_name %> </h3>
<p>Contact: <%= @vet.phone_number %></p>

<p>Assigned: <a href=""></a></p>


<p><a href="/vets/<%= @vet.id %>/edit">Edit details</a></p>
<form method="post" action="/vets/<%= @vet.id %>/delete">
<input type="submit" value="Delete Vet">
</form>

<p id="back"><a href="/vets">Back to vets</a></p>
</div>