<h2 class="section-header">Create Appointment</h2>


<div class="new-form">
<form method="post" action="/appointments">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required>

    <label for="pet_id">Choose Pet:</label>
    <select id="pet_id" name="pet_id" required>
        <option disabled selected>Please select</option>
        <% for pet in @pets %>
        <option value="<%= pet.id %>"><%= pet.name %></option>
        <% end %>
    </select>

    <label for="vet_id">Choose Vet:</label>
    <select id="vet_id" name="vet_id" required>
        <option disabled selected>Please select</option>
            <% for vet in @vets %>
                <option value="<%= vet.id %>"> <%= vet.first_name %> <%= vet.last_name %> </option>
            <% end %>
    </select>
    <br>

        <input class="btn" type="submit" value="Create">
</form>
</div>