<h3 class="section-header">Details for: <%= @customer.first_name%> <%= @customer.last_name%></h3>
    
<div class="section-line"></div>

<div class="show-details">
    <table id="details-table">
        <tr>
            <td>Name:</td>
            <td><b><%= @customer.first_name %> <%= @customer.last_name %></td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><%= @customer.e_mail %></td>
        </tr>
        <tr>
            <td>Pets:</td>
                <% @pets = @customer.pets %>
                <% for pet in @pets %>
            <td>
                <li class="show-customer-pet-list"><%= pet.name %></li>
            </td>
                <% end %>
        </tr>
    </table>
</div>  

<button><a href="/customers/<%= @customer.id %>/edit">Edit details</a></button>
<form method="post" action="/customers/<%= @customer.id %>/delete">
<input id="del" type="submit" value="Delete customer">
</form><br>

<p id="back"><a href="/customers"> Back to customers</a></p>
